<%= form_with(model: handle) do |form| %>
  <%= render 'form_errors', errors: handle.errors %>

  <table class="table table-striped">
    <tbody>
    <tr>
      <th><%= form.label :prefix %></th>
      <td><%= form.text_field :prefix %></td>
    </tr>

    <tr>
      <th><%= form.label :suffix %></th>
      <td><%= form.number_field :suffix %></td>
    </tr>

    <tr>
      <th><%= form.label :url %></th>
      <td><%= form.text_field :url %></td>
    </tr>

    <tr>
      <th><%= form.label :repo %></th>
      <td><%= form.text_field :repo %></td>
    </tr>

    <tr>
      <th><%= form.label :repo_id %></th>
      <td><%= form.text_field :repo_id %></td>
    </tr>

    <tr>
      <th><%= form.label :description %></th>
      <td><%= form.text_field :description %></td>
    </tr>

    <tr>
      <th><%= form.label :notes %></th>
      <td><%= form.text_area :notes %></td>
    </tr>

    <tr>
      <th></th>
      <td>
        <%= form.submit class: 'btn btn-success' %>
        <%= link_to 'Cancel', handle, class: 'btn btn-danger' %>
        <%= link_to 'List All Handles', handles_path, class: 'btn btn-default' %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>
