<div class="page-header">
  <h1>Handles</h1>
</div>

<%= paginate @handles %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :handle, [:handle, :prefix, :suffix]) %></th>
      <th><%= sort_link(@q, :url) %></th>
      <th><%= sort_link(@q, :repo) %></th>
      <th><%= sort_link(@q, :repo_id) %></th>
      <td><%= sort_link(@q, :updated_at, 'Last Update') %></td>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @handles.each do |handle| %>
      <tr>
        <td><%= link_to handle.to_handle_string, handle %></td>
        <td><%= handle.url %></td>
        <td><%= handle.repo %></td>
        <td><%= handle.repo_id %></td>
        <td title="<%= handle.updated_at.to_formatted_s %>"><%= time_ago_in_words(handle.updated_at) %> ago</td>
        <td>
          <span>
          <%= link_to 'Edit', edit_handle_path(handle), class: 'btn btn-info' %>
          <%= link_to 'Delete', handle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @handles %>