<div class="page-header">
  <h1>Handles</h1>
</div>

<%= paginate @handles %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :prefix) %></th>
      <th><%= sort_link(@q, :suffix) %></th>
      <th><%= sort_link(@q, :url) %></th>
      <th><%= sort_link(@q, :repo) %></th>
      <th><%= sort_link(@q, :repo_id) %></th>
      <th><%= sort_link(@q, :description) %></th>
      <th><%= sort_link(@q, :notes) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @handles.each do |handle| %>
      <tr>
        <td><%= handle.prefix %></td>
        <td><%= handle.suffix %></td>
        <td><%= handle.url %></td>
        <td><%= handle.repo %></td>
        <td><%= handle.repo_id %></td>
        <td><%= handle.description %></td>
        <td><%= simple_format(handle.notes) %></td>
        <td><%= link_to 'Show', handle %></td>
        <td><%= link_to 'Edit', edit_handle_path(handle) %></td>
        <td><%= link_to 'Destroy', handle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @handles %>